{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit hero</h1>
        <form action="/heroes/{{hero.id}}" method="post">
            <div class="form-group">
            <label for="hero_name">Edit name</label>
            <input id="hero_name" name="hero_name" type="text" class="form-control">

            <label for="hero_age">Edit Age</label>
            <input id="hero_age" name="hero_age" type="number" class="form-control">
            <label for="hero_power">Edit Power</label>
            <input id="hero_power" name="hero_power" type="text" class="form-control" >

            <label for="hero_weakness">Edit Weakness</label>
            <input id="hero_weakness" name="hero_weakness" type="text" class="form-control">
            <label for="squad_id">Place him in a squad</label>
            <select id="squad_id" name="squad_id" class="form-control">
                {{#each squads}}
                    <option value="{{squad_id}}">{{squad_name}}</option>
                {{/each}}
            </select>
            <p><a href="/squads/new">Add one</a></p>
            <button type="submit">Go!</button>
            </div>
        </form>
    {{else}}
        <h2>Add a new hero</h2>
        <form action="/heroes" method="post">
            <div class="form-group">
                <label for="hero_name">Add name</label>
                <input id="hero_name" name="hero_name" type="text" class="form-control">

                <label for="hero_age">Add Age</label>
                <input id="hero_age" name="hero_age" type="number" class="form-control">

                <label for="hero_power">Add Power</label>
                <input id="hero_power" name="hero_power" type="text" class="form-control">

                <label for="hero_weakness">Add Weakness</label>
                <input id="hero_weakness" name="hero_weakness" type="text" class="form-control">

            {{#if squads}}
                <label for="squad_id">Place him in a squad</label>
                <select id="id" name="id" class="form-control">
                    {{#each squads}}
                        <option value={{id}}> {{squad_name}}</option>
                    {{/each}}
                </select>
              {{/if}}
                <P><a href="/squads/new">Add squad</a></P>

            <button type="submit">Go!</button>
            </div>
        </form>
    {{/if}}
{{/partial}}
{{>layout.hbs}}